<nav class="navbar navbar-expand-lg bg-primary dark">
  <div class="container-fluid">
    <a class="navbar-brand link-light ms-4" href="/">Multiroom Chat</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item me-4 d-flex">
          <% if (user) { %>
            <a href="/contacts/participants" class="nav-link link-light">Participantes</a>
            <a href="/logout" class="nav-link link-light">Logout</a>
          <% } %>

          <% if (!user) { %>
            <a class="nav-link link-light" href="/register">Registrar</a>
            <a class="nav-link link-light" href="/login">Login</a>
          <% } %>

        </li>
      </ul>
    </div>
  </div>
</nav>
