<!DOCTYPE html>
<html lang="pt-BR">

  <%- include("includes/head") %>

  <body>
    <%- include("includes/navbar") %>

    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>


        <div class="col-lg-6 my-4">
          Bem vindo <%= user.name %>!

        </div>

        <div class="col-lg-3"></div>
      </div>
    </div>

    <%- include("includes/scripts") %>
  </body>
</html>
