<% if(success.length) { %>

  <div class="row">
    <div class="col my-12">

      <% success.forEach(error => { %>
        <div class="text-center alert alert-success">
          <%= success  %>
        </div>
      <% }); %>

    </div>
  </div>

<% } %>
